<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Create New CCTV</title>
</head>
<body>
    <h1>Create New CCTV</h1>
    <form th:action="@{/cctv/create}" th:object="${cctv}" method="post">
        <label for="cctvId">CCTV ID:</label>
        <input type="text" id="cctvId" th:field="*{cctvId}" />
        <br/>
        <label for="roadsection">Road Section:</label>
        <input type="text" id="roadsection" th:field="*{roadsection}" />
        <br/>
        <label for="px">PX:</label>
        <input type="text" id="px" th:field="*{px}" />
        <br/>
        <label for="py">PY:</label>
        <input type="text" id="py" th:field="*{py}" />
        <br/>
        <label for="cctvUrl">URL:</label>
        <input type="text" id="cctvUrl" th:field="*{cctvUrl}" />
        <br/>
        <button type="submit">Create</button>
    </form>
    <a href="/cctv">Back to list</a>
</body>
</html>
