<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>CCTV List</title>
</head>
<body>
    <h1>Search CCTVs</h1>
    <form action="/cctv/search" method="get">
        <label for="roadsection">Road Section:</label>
        <input type="text" id="roadsection" name="roadsection">
        <button type="submit">Search</button>
    </form>
    <hr>
    <h1>List of CCTVs</h1>
    <div>
        <a href="/cctv/add"><button type="button">Create new CCTV</button></a>
        <form action="/logout" method="post" style="display: inline;">
            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
            <button type="submit">Logout</button>
        </form>
    </div>
    <table border="1">
        <tr>
            <th>ID</th>
            <th>Road Section</th>
            <th>PX</th>
            <th>PY</th>
            <th>URL</th>
            <th>Actions</th>
        </tr>
        <tr th:each="cctv : ${cctvs}">
            <td th:text="${cctv.cctvId}"></td>
            <td th:text="${cctv.roadsection}"></td>
            <td th:text="${cctv.px}"></td>
            <td th:text="${cctv.py}"></td>
            <td><a th:href="${cctv.cctvUrl}" target="_blank" th:text="${cctv.cctvUrl}"></a></td>
            <td>
                <a th:href="@{/cctv/edit/{id}(id=${cctv.cctvId})}">Edit</a>
                <form th:action="@{/cctv/delete/{id}(id=${cctv.cctvId})}" method="post" style="display:inline;">
                    <input type="hidden" name="_method" value="delete"/>
                    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
                    <button type="submit">Delete</button>
                </form>
            </td>
        </tr>
    </table>
</body>
</html>
